:root{
    --dark-blue:#222222;
    --black:#000000;
    --white:#FFFFFF;
    --pink:#F16D7F;
    --lite-pink: #F1E4E6;
    --lite-grey:#F8F8F8;


}

.container{
    max-width: 1160px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
}

body{
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
}

.header{
    background-color:var(--dark-blue);
    color:var(--white);
    /*padding: 19px 0;*/ /*пробовала центрировать паддингом*/
    
}

.header__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header__logo{
    margin-right: 41px;
}
/*прозрачность бургер-меню*/
.header__button{
    border: none;
    background-color: transparent ;/*НАСЛЕДУЕТ ЦВЕТ РОДИТЕЛЯ*/
    
}

/*сработало*/
.header__ikon{
    margin: 33px;
}


/*не сработало, почему-то*/
/*.header__item:not(:last-child){
    margin-right: 33px;
}*/

/*убрала меню кнопки*/
.header__navigation{
    display: none;

}

.header__button:hover+.header__navigation{
    display: block;
}


.promo{
    height: 764px;
    background: var(--lite-pink);
    margin: 0 0 63px;
}

.promo__flex{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    background:url('../img/men.png') no-repeat -230px ;
}

.promo__title{
    max-width: 405px;
    padding-left: 20px;
    border-left: 12px solid var(--pink);
}

.promo__heading{
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    color: var(--black);
}

.promo__heading-subheading{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    display: block;
}

.promo__decor{
    color:var(--pink);
}

.categories{
    margin: 100px 0;
}
/*должен быть заголовок h2, но не предусмотрен, поэтому написала и скрыла*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.categories__item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

/*.categories__flex{
    display: flex;
    justify-content: space-between;
}*/

.categories__item:not(:last-child){
    width: 360px;
    min-height:260px ;
    
}

/*последний элемент*/
.categories__item { 
    width: 100%;
    min-height: 180px;
    
}

.categories__item--women {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/categories-woman.jpg);
    
}

.categories__item--men{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/categories-man.jpg);
}

.categories__item--kids{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/categories-kids.jpg);
}

.categories__item--accesories {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url(../img/categories-accessories.jpg);
}
.categories__text{
    font-size: 16px;
    line-height: 19px;
    font-weight:400;
    color:var(--white);
}

.categories__pink-text{
    color: var(--pink);
    font-size: 16px;
    line-height: 19px;
}
/*задала блоку ширину и три в ряд встали*/ 
.carts__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.carts__item{
    max-width: 360px;
}

.carts__heading{
    margin-top: 96px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.carts__text{
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-bottom: 48px;
    text-align: center;
    padding-bottom: 6px;
}

.carts__item-heading{
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
    /*text-align: left;*/
    background: #F8F8F8;
    padding: 24px 194px 13px 18px;
}

.carts__item-text{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    max-width: 360px;
    background: #F8F8F8;
    text-align: left;
    padding-left: 17px;
}

.carts__item-price{
    font-size: 16px;
    line-height: 19px;
    color:var(--pink);
    background: var(--lite-grey);
    padding: 18px 289px 20px 18px;
}

.carts__button{
    display: flex;
    justify-content: center;
    margin-bottom: 110px;
    margin-top: 48px;
}

.carts__button-text{
    color:var(--pink);
    text-align: center;
    padding: 14px 38px;
    border: 1px solid var(--pink);
}

.black-section{
    
    min-height: 340px;
    background: #222222;
}

.black-section__flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*.black-section__list{
    margin: auto;
    display: flex;
    justify-content: center; 
    align-items: center; 
} */

/*.black-section--image{
    padding: 380px 103px 346px 28px ;
}*/

.black-section-title{
    
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
}

.black-section-text{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
}

/*.black-section-image{
    display: flex;
    justify-content: space-between;    
}*/

.subscribe{
    min-height: 448px;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    background-image: url(../img/subscribebg.jpg);
}

/*.subscribe-background{
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    background-image: url(../img/subscribebg.jpg);
}*/

.subscribe__flex {
    display: flex;
    justify-content: space-between;
    
}

.subscribe__text{
    width: 360px;
    height: 99px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.subscribe__text-italic{
    font-style: italic;
}

.subscribe__regisrtation-title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.subscribe__regisrtation-form{
    display: flex;
    margin-top: 27px;
    
}

.subscribe__regisrtation-form-input{
    padding: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    border: none;
    -webkit-border-top-left-radius: 22px;
    -webkit-border-bottom-left-radius: 22px;
    -moz-border-radius-topleft: 22px;
    -moz-border-radius-bottomleft: 22px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}

.subscribe__regisrtation-form-button{
    border: none;
    background-color: var(--pink);
    color: var(--white);
    -webkit-border-top-right-radius: 22px;
    -webkit-border-bottom-right-radius: 22px;
    -moz-border-radius-topright: 22px;
    -moz-border-radius-bottomright: 22px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}

.footer__bottom{
    min-height: 100px;
    background-color: #222222;
}

.footer__bottom-text{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__pink{
    background-color: #F8F3F4;;
}


.header__pink-text{
    color: #F16D7F;
    
}

.breadcrumb{
    display: inline-block;
}

.registration__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F3F4;
    min-height: 148px;
}

.registration__flex-header{
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: var(--pink);
}

.registration__form{
    display: block;
    justify-content: space-between;
    align-items: center;
    /*flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;*/
}

.registration__form-header{
    color: var(--dark-blue);
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;

}

.registration__form-text{
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    width: 360px;
}

.registration__form-input{
    width: 360px;
    height: 45px;
    margin-bottom: 20px ;
}

.registration__lists-header{
        font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color:var(--black);
    }

.registration__lists-text{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color:var(--black);
}

.registration__lists-item{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color:var(--black);
}

.registration__lists-item{
    margin: 0 0 0 25px;
    position: relative;
}

.registration__lists-item::after{
    content: '';
    width: 20px;
    height: 16px;
    border: none;
    position: absolute;
    left: -25px;
    background-image: url(../img/galochka.svg);
}